{% macro input(type) %}
    {%- if type == 'text' -%}
TextInput
    {%- elif type == 'number' -%}
NumberInput
    {%- elif type == 'check' -%}
Check
    {%- elif type == 'comment' -%}
TextArea
    {%- else -%}
Your Input Type Is Not Known
    {%- endif -%}
{% endmacro %}

{% macro validate(field) %}
{%- if 'checks' in field -%}
{%- for check_name, check in field.checks.items() -%}
    {{ field.id -}}:
    {%- if check_name == 'required' and check -%}
{{ validate_required(field) }}
    {%- elif check_name == 'range' -%}
{{ validate_range(field, check) }}
    {%- elif check_name == 'regex' -%}
{{ validate_pattern(field, check) }}
    {%- endif -%}
{%- endfor -%}
{%- endif -%}
{% endmacro %}

{% macro validate_required(field) %}
    {%- if field.input == 'text' -%}
isNotEmpty('{{ field.id|label_name }} is required.'),
    {%- else -%}
isNotEmpty('{{ field.id|label_name }} is required.'),
    {%- endif -%}
{% endmacro %}

{% macro validate_range(field, range) %}
    {%- if field.input == 'text' -%}
{{ validate_string_length(field.id, range.min, range.max) }}
    {%- elif field.input == 'number' -%}
{{ validate_number_range(field.id, range.min, range.max) }}
    {%- endif -%}
{% endmacro %}

{%  macro validate_string_length(id, min, max) %}
    {%- if min and max -%}
hasLength({ min: {{ min }}, max: {{ max }} }, '{{ id|label_name }} must be {{ min }}-{{ max }} characters long.'),
    {%- elif max -%}
hasLength({ max: {{ max }} }, '{{ id|label_name }} can be no more than {{ max }} characters long.'),
    {%- elif min -%}
hasLength({ min: {{ min }} }, '{{ id|label_name }} must be at least {{ min }} characters long.'),
    {%- endif -%}
{% endmacro %}

{%  macro validate_number_range(id, min, max) %}
    {%- if min and max -%}
isInRange({ min: {{ min }}, max: {{ max }} }, '{{ id|title }} must be between {{ min }}-{{ max }}.'),
    {%- elif max -%}
isInRange({ max: {{ max }} }, '{{ id|label_name }} must be less than {{ max }}.'),
    {%- elif min -%}
isInRange({ min: {{ min }} }, '{{ id|label_name }} must be at least {{ min }}.'),
    {%- endif -%}
{% endmacro %}

{% macro validate_pattern(field, regex) %}
    {%- if field.input == 'text' -%}
matches(/{{ regex }}/, '{{ field.id|label_name }} must match the pattern {{ regex }}'),
    {%- endif -%}
{% endmacro %}

{% macro type_definition_field(field) %}
    {%- if field.input == 'text' -%}
{{ field.id }}: string
    {%- elif field.input == 'number' -%}
{{ field.id }}:  number
    {%- elif field.input == 'date' -%}
{{ field.id }}:  string
    {%- elif field.input == 'select' -%}
{{ field.id }}:  string
    {%- endif -%}
{% endmacro %}

{% macro default_value(field) %}
    {%- if field.input == 'text' -%}
{{ field.id }}: '{{ field.default }}'
    {%- elif field.input == 'number' -%}
{{ field.id }}: {{ field.default }}
    {%- else -%}
{{ field.id }}: '{{ field.default }}'
    {%- endif -%}
{% endmacro %}

{%  macro form_input(field) %}
<Grid.Col
    {%- if 'cols' in field %}
    span={{- "{{" -}}
    base: {{- field.cols.get('base') or 12 -}}
    ,md: {{- field.cols.get('md') or 6 -}}
    ,lg: {{- field.cols.get('lg') or 4 -}}
    {{- "}}" -}}
    {%- else -%}
    {{ " span={{ base: 12, md: 6, lg: 4 }}" }}
    {%- endif -%}>
    {% if field.input == 'select' %}
{{ select_input(field) }}
    {% elif field.input == 'date' %}
{{ date_input(field) }}
    {% elif field.input == 'radio' %}
{{ radio_input(field) }}
    {% elif field.input == 'yesno' %}
{{ yesno_input(field) }}
    {% else %}
<{{ input(field.input) }}
        label="{{ field.id |label_name }}"
        placeholder="{{ field.id |label_name }}"
        {% if 'checks' in field and field.checks.required %}
        withAsterisk
        {% endif %}
        key={form.key("{{ field.id }}")}
        {...form.getInputProps("{{ field.id }}")}
    />
    {% endif %}
</Grid.Col>
{% endmacro %}

{% macro select_input(field, codeSet) %}
    {%- if field.input == 'select' -%}
<CodeSelect
        codeSet='{{ field.codeSet }}'
        label="{{ field.id |label_name }}"
        placeholder="{{ field.id |label_name }}"
        {% if 'checks' in field and field.checks.required %}
        withAsterisk
        {% endif %}
        key={form.key("{{ field.id }}")}
        {...form.getInputProps("{{ field.id }}")}
        searchable
        clearable
        allowDeselect
    />
    {%- endif  -%}
{% endmacro %}

{% macro radio_input(field, codeSet) %}
    {%- if field.input == 'radio' -%}
<Radio
        codeSet='{{ field.codeSet }}'
        label="{{ field.id |label_name }}"
        placeholder="{{ field.id |label_name }}"
        {% if 'checks' in field and field.checks.required %}
        withAsterisk
        {% endif %}
        key={form.key("{{ field.id }}")}
        {...form.getInputProps("{{ field.id }}")}
    />
    {%- endif  -%}
{% endmacro %}

{% macro date_input(field) %}
    {%- if field.input == 'date' -%}
<DateInput
        label="{{ field.id |label_name }}"
        placeholder="{{ field.id |label_name }}"
        {% if 'checks' in field and field.checks.required %}
        withAsterisk
        {% endif %}
        key={form.key("{{ field.id }}")}
        {...form.getInputProps("{{ field.id }}")}
        clearable
    />
    {%- endif  -%}
{% endmacro %}

{% macro yesno_input(field) %}
    {%- if field.input == 'yesno' -%}
<YesNo
        label="{{ field.id |label_name }}"
        placeholder="{{ field.id |label_name }}"
        {% if 'checks' in field and field.checks.required %}
        withAsterisk
        {% endif %}
        key={form.key("{{ field.id }}")}
        {...form.getInputProps("{{ field.id }}")}
    />
    {%- endif  -%}
{% endmacro %}



{% macro use_api(entity, type) %}
const api = useApi('{{ entity|type_name }}.{{ type|type_name }}');
{% endmacro %}