{% macro input(type) %}
    {%- if type == 'text' -%}
        TextInput
    {%- elif type == 'number' -%}
        NumberInput
    {%- else -%}
        Your Input Type Is Not Known
    {%- endif -%}
{% endmacro %}

{% macro save() %}
    <Group justify="flex-end" mt="md">
        <Button type="submit">Save</Button>
    </Group>
{% endmacro %}

{% macro validate(field) %}
    {{- field.id -}}{{- ': [' -}}
    {%- for check_name, check in field.checks.items() -%}
        {%- if check_name == 'required' and check -%}
            {{ validate_required(field) }}
        {%- elif check_name == 'range' -%}
            {{ validate_range(field, check) }}
        {%- endif -%}
    {%- endfor -%}
    {{- '],' -}}
{% endmacro %}

{% macro validate_required(field) %}
    {%- if field.input == 'text' -%}
        isNotEmpty('{{ field.id|title }} is required.'),
    {%- endif -%}
{% endmacro %}

{% macro validate_range(field, range) %}
    {%- if field.input == 'text' -%}
        {{ validate_string_length(field.id, range.min, range.max) }}
    {% elif field.input == 'number' %}
        {{ validate_number_range(field.id, range.min, range.max) }}
    {%- endif -%}
{% endmacro %}

{%  macro validate_string_length(id, min, max) %}
    {%- if min and max -%}
        hasLength({ min: {{ min }}, max: {{ max }} }, '{{ id|title }} must be {{ min }}-{{ max }} characters long.'),
    {%- elif max -%}
        hasLength({ max: {{ max }} }, '{{ id|title }} can be no more than {{ max }} characters long.'),
    {%- elif min -%}
        hasLength({ min: {{ min }} }, '{{ id|title }} must be at least {{ min }} characters long.'),
    {%- endif -%}
{% endmacro %}

{%  macro validate_number_range(id, min, max) %}
    {%- if min and max -%}
        isInRange({ min: {{ min }}, max: {{ max }} }, '{{ id|title }} must be between {{ min }}-{{ max }}.'),
    {%- elif max -%}
        isInRange({ max: {{ max }} }, '{{ id|title }} must be less than {{ max }}.'),
    {%- elif min -%}
        isInRange({ min: {{ min }} }, '{{ id|title }} must be at least {{ min }}.'),
    {%- endif -%}
{% endmacro %}