@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --cptis-orange: #f78ele;
    --cptis-cyan: #00aeef;
    --cptis-yellow: #ffcf01;
    --cptis-green: #8db33F;
    --cptis-light-yellow: #fff797;
    --cptis-hard-orange: #f26841;
    --cptis-aqua: #00a0af;
    --cptis-purple: #6c78ba;
    --cptis-light-aqua: #7ed0e0;
    --cptis-dark-gray: #babcbe;
    --cptis-light-blue: #bbd5dc;
    --cptis-light-gray: #dadbdc;
}
 