<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/1bbd935a-5547-4e1b-a5e2-c71d36e7d359/resourceGroups/RG_CMS_CPTIS_DEV_eastus/providers/Microsoft.Web/sites/cptisdev</ResourceId>
    <ResourceGroup>RG_CMS_CPTIS_DEV_eastus</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cptisdev-ece2ftfxgkfacwd8.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ff301612-9877-4cee-92a6-fb47b9be7c50</ProjectGuid>
    <PublishUrl>https://cptisdev-ece2ftfxgkfacwd8.scm.eastus-01.azurewebsites.net/</PublishUrl>
    <UserName>$cptisdev</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>